
/HLS/parser/parser
/HLS/distributer/distributer
/HLS/arp/arp
/HLS/icmp/icmp
/HLS/des/des
/HLS/udp_depacketizer/udp_depacketizer
/HLS/udp_packetizer/udp_packetizer
/HLS/udp_reg/udp_reg
/HLS/aes/aes/
/HLS/tlas_gen/tlast_gen

/ECE532_project

/IP/vivado-library-master
/IP/mii_to_rmii_0/*
!/IP/mii_to_rmii_0/mii_to_rmii_0.xci
/IP/tri_mode_ethernet_mac_0/*
!/IP/tri_mode_ethernet_mac_0/tri_mode_ethernet_mac_0.xci


*.log